<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/seaicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeaApp"
        tools:targetApi="31">
        <activity
            android:name=".LoginUserNameActivity"
            android:exported="false" />
        <activity
            android:name=".LoginOtpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginPhoneNumActivity"
            android:exported="false" />
        <activity
            android:name=".BaseStationUser"
            android:exported="false" />
        <activity
            android:name=".UserHome"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".NearbyBoatActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".BaseStationActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".FishingAreaActivity"
            android:exported="false" />
        <activity
            android:name=".WeatherActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>